<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Education Time | Full Width</title>
<meta http-equiv="Content-Type" content="text/cshtml; charset=iso-8859-1" />
<link rel="stylesheet" href="~/content/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
        <h1><li>@Html.ActionLink("Student learning criteria", "lecture", "Home")</li></h1>
   
      <p>For student bright future</p>
        <p><a href="/Home/index" >LOGOUT</a></p>
    </div>
   
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div id="topnav">
    <ul>
       <li>@Html.ActionLink("Homepage", "main", "Home")</li>
        <li>@Html.ActionLink("Query discussion", "query", "Home")</li>
        <li>@Html.ActionLink("Video lectures", "videolec", "Home")</li>
        <li>@Html.ActionLink("download and upload lectures", "uploaddownload", "Home")</li>
        <li>@Html.ActionLink("view result", "viewresult", "Home")</li>

     
      <li><a href="#">DropDown</a>
        <ul>
                        <li>@Html.ActionLink("contact us", "contactus", "Home")</li>
                        <li>@Html.ActionLink("about us", "aboutus", "Home")</li>
        </ul>
      </li>
    </ul>
    <div  class="clear"></div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div id="container" class="clear"> 
    <!-- ####################################################################################################### -->
    <h1>Your book A Download All letures from Here </h1>
      <br>
      <br>
      <table border ="8" style="animation">
        <thead>        
        <tr>
            <td width= "80" height= "80"><a href="#">Download lecture 1</a></td>
            <td width= "80" height= "80"><a href="#">Download lecture 2</a></td>
            <td width= "80" height= "80"><a href="#">Download lecture 3</a></td>

        </tr>
        <tr>
            <td width= "80" height= "80"><a href="#">Download lecture 4</a></td>
            <td width= "80" height= "00"><a href="#">Download lecture 5</a></td>
            <td width= "80" height= "80"><a href="#">Download lecture 6</a></td>
        </tr>
            </thead>
    </table>
      <br>
      <br>
      <h1>IMPORTANT LINE</h1>
      <h1><marquee>Dear Students Download lecture from here.</marquee></h1>
      <br>
      <br>
      <br>
      <br>
      
      
      
    
    <!-- ####################################################################################################### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2015 - All Rights Reserved - ZAHID ALI</p>
    <p class="fl_right">website Name LEARNING CRITERIA OF STUDENTS</p>
  </div>
</div>
</body>
</html>