

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Education Time</title>
<meta http-equiv="Content-Type" content="text/cshtml; charset=iso-8859-1" />
<link rel="stylesheet" href="~/content/layout.css" type="text/css" />
<script type="text/javascript" src="~/Script/jquery.min.js"></script>
<!-- liteAccordion is Homepage Only -->
<link rel="stylesheet" href="~/content/liteaccordion.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
        <h1><li>@Html.ActionLink("Student learning criteria", "main", "Home")</li></h1>
      <!--<h1><a href="index.html">Education Time</a></h1>-->
      <p>For student bright future</p>
        <p><a href="/Home/index" >LOGOUT</a></p>
    </div>
    
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div id="topnav">
    <ul>
        <li>@Html.ActionLink("Homepage", "main", "Home")</li>
        <li>@Html.ActionLink("Query discussion", "query", "Home")</li>
        <li>@Html.ActionLink("Video lectures", "videolec", "Home")</li>
        <li>@Html.ActionLink("download and upload lectures", "uploaddownload", "Home")</li>
        <li>@Html.ActionLink("view result", "viewresult", "Home")</li>

      <!--<li class="active"><a href="index.cshtml">Homepage</a></li>
      <li><a href="pages/style-demo.cshtml">Style Demo</a></li>
      <li><a href="pages/full-width.cshtml">Full Width</a></li>-->
      <li><a href="#">DropDown</a>
        <ul>
                        <li>@Html.ActionLink("contact us", "contactus", "Home")</li>
                        <li>@Html.ActionLink("about us", "aboutus", "Home")</li>
          <li><a href="#"></a></li>
        </ul>
      </li>
      <!--<li><a href="pages/3-columns.html">3 Columns</a></li>
      <li class="last"><a href="pages/gallery.cshtml">Gallery</a></li>-->
    </ul>
    <div  class="clear"></div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div id="featured_slide"> 
    <!-- ####################################################################################################### -->
    
      <li>
        <h2><span>Slide 1</span></h2>
        <div><img src="~/images/Learn.jpg" alt="" height="400" , width="1000" /></div>
      </li>
      <!--
      <li>
        <h2><span>Slide 2</span></h2>
        <div><img src="~/images/Learn.jpg" alt="" height="400" , width="1000" /></div>
      </li>
      <li>
        <h2><span>Slide 3</span></h2>
        <div><img src="~/images/Learn.jpg" alt="" height="400" , width="1000" /></div>
      </li>
      <li>
        <h2><span>Slide 4</span></h2>
        <div><img src="~/images/Learn.jpg" alt="" height="400" , width="1000" /></div>
      </li>
      <li>
        <h2><span>Slide 5</span></h2>
        <div><img src="~/images/Learn.jpg" alt="" height="400" , width="1000" /></div>
      </li>
    </ol>-->
    <!-- ####################################################################################################### --> 
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div id="container" class="clear"> 
    <!-- ####################################################################################################### -->
    <div id="homepage" class="clear">
      <div class="fl_left">
        <h2 class="title">Quick Links for better learning</h2>
        <div id="hpage_quicklinks">
          <ul class="clear">
            <li><a href="#">Academic departments</a></li>
            <li><a href="#">Alumni</a></li>
            <li><a href="#">Business &amp; Enterprise</a></li>
            <li><a href="#">Departments A-Z</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Graduate Courses</a></li>
            <li><a href="#">International Students</a></li>
            <li><a href="#">Job opportunities</a></li>
            <li><a href="#">Lifelong Learning</a></li>
            <li><a href="#">Maps and Directions</a></li>
            <li><a href="#">Online Courses</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Postgraduate research</a></li>
            <li><a href="#">Postgraduate taught</a></li>
            <li><a href="#">Prospective Students</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Students</a></li>
            <li><a href="#">Teaching &amp; Learning</a></li>
            <li><a href="#">Undergraduate Courses</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Visiting the University</a></li>
            <li><a href="#">What's On</a></li>
          </ul>
        </div>
        <h2 class="title">DIFFRENT LEARNING STYLES</h2>
        <div id="hpage_gallery">
          <ul class="clear">
            <li><a href="#"><img src="~/images/boy.jpg" alt="" height="150" width="180" /></a></li>
            <li class="last"><a href="#"><img src="~/images/girl.jpg" alt="" height="150" width="180" /></a></li>
            <li><a href="#"><img src="~/images/baby.jpg" alt="" height="150" width="180" /></a></li>
            <li class="last"><a href="#"><img src="~/images/group.jpg" alt="" height="150" width="180" /></a></li>
          </ul>
        </div>
        <h2 class="title">Keep Up With What's Happening</h2>
        <div id="hpage_socialize">
          <ul>
            <li><span>Facebook:</span> <a href="#">www.facebook.com/myhandel</a></li>
            <li><span>Twitter:</span> <a href="#">www.twitter.com/myhandel</a></li>
            <li class="last"><span>LinkedIn:</span> <a href="#">www.linkedin.com/myhandel</a></li>
          </ul>
          <p><strong>Subscribe To Our Newsletter</strong></p>
          <p>Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoreet tincidunt ut vel velit.</p>
          <form action="#" method="post">
            <fieldset>
              <legend>Newsletter Signup:</legend>
              <input type="text" id="newsletter" value="Enter Email Here&hellip;" onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
              <input type="image" id="subscribe" src="layout/images/sign-up.gif" alt="Submit" />
            </fieldset>
          </form>
          <p class="form_hint">* Please add name@domain.com to your trusted email list</p>
        </div>
      </div>
      <!-- ############### -->
      <div class="fl_right">
        <h2 class="title">Latest News Related to students learning</h2>
        <div id="hpage_latestnews">
          <ul>
            <li>
              <div class="imgl"><img src="~/images/news1.jpg" alt="" height="80" width="160" /></div>
              <p class="latestnews">These web sites help for the students to learn very easy. So the student should visit these sites.</p>
              <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
            </li>
            <li>
              <div class="imgl"><img src="~/images/news5.jpg" alt="" height="80" width="160" /></div>
              <p class="latestnews">These website help those students who are weak in Mathmatics these websites are so helpful foe every student. </p>
              <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
            </li>
            <li class="last">
              <div class="imgl"><img src="~/images/news7.jpg" alt=""  height="80" width="160" /></div>
              <p class="latestnews">All students should search Learning websites , because these sites very helpful to the students. </p>
              <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
            </li>
          </ul>
        </div>
        <div id="hpage_specials" class="clear">
          <ul>
            <li>
              <h2 class="title">LEARNING TIPS</h2>
              <div class="box">
                <div class="imgholder"><img src="~/images/food.jpg" alt="" height="170" width="165" /></div>
                <p>All students eat proper food to get better learning easly. </p>
                <p class="readmore"><a href="#">Take The Tour &raquo;</a></p>
              </div>
            </li>
            <li>
              <h2 class="title"><text textcolor="maroon">SPORTS</text></h2>
              <div class="box">
                
                <div class="imgholder"><img src="~/images/sport.jpg" alt="" height="170" width="165" /></div>
                <p>Sports Activities are very Necssary to fresh the mind and learning again and again. </p>
              </div>
              <div class="box">
                <p>EXECERISE</p>
                <div class="imgholder"><img src="~/images/sport1.jpg" alt="" height="170" width="165" /></div>
                <p>To the sports Activities it is also help the execerise to fresh mind.</p>
              </div>
            </li>
            <li class="last">
              <h2 class="title">Upcoming Events</h2>
              <div class="box">
                <p><h3>Student Prize ceremony</h3></p>
                <p>Monday 21st Feb</p>
                <p>In this event whose student get high positions who are awarded to diffrent prizes.</p>
              </div>
              <div class="box">
                <p><h3>Welcome party To New Students</h3></p>
                <p>friday 3rd march</p>
                <p>In this event Senior student give  the party to New studens.</p>
                    @* @model List<MvcApp.Models.student>
@{
    ViewBag.Title = "main";
}

<h2>List of students</h2>
<table>
    <tr>
        <td>sid</td>
        <td>Name</td>
        <td>city</td>
        <td>msg</td>
        
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.sid</td>
            <td>@s.Name</td>
            <td>@s.city</td>
            <td>@s.msg</td>

            <td>
                <a href= "/Home/update/@s.sid">update</a>
                <a href= "/Home/delete/@s.sid">delete</a>
                
            </td>
        </tr>    
    }
</table>
                  <a href= "/Home/Add/">Add student</a>*@

                  
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ####################################################################################################### --> 
  </div>
</div>
   


    <div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2015 - All Rights Reserved - ZAHID ALI</p>
    <p class="fl_right">website Name LEARNING CRITERIA OF STUDENTS</p>
  </div>
</div>
</body>
</html>